$primary-color:    	#00A8E0 !default;
$font-color:       	#111111 !default;
$gray-color:       	#AAAAAA !default;
$success-color: 	#368A55 !default;
$warning-color: 	#DBBC0D !default;
$error-color: 		#CF2A0E !default;
$brand-radius: 		6px !default;
$grid-width:		1100px !default;

$base-font-size:    16px !default;
$base-line-height:  24px !default;

$fa-css-prefix: icon;
$fa-font-path: "../components/fontawesome/fonts";

$vr-rem-ie8-fallback: false;