/*---------------------------------------*\
    BUTTONS
\*---------------------------------------*/

.btn {
    @include btn-variation($primary-color);
    transition: border-color .3s, background-color .3s;
    display: inline-block;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 100%;
    line-height: $base-line-height * 1.5;
    margin: 0 0 $base-line-height * .5;
    outline: none;
    padding: 0 1rem;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    > i {
        margin: 0 .5rem;
    }
    &,
    &:hover,
    &:focus,
    &:active {
        color: white;
        text-decoration: none;
    }
    &--success {
        @include btn-variation($success-color);
    }
    &--warning {
        @include btn-variation($warning-color);
    }
    &--error {
        @include btn-variation($error-color);
    }
    &--radius {
        border-radius: $base-radius;
    }
    &--round {
        border-radius: $base-line-height * 1.5;
    }
    &--3d {
        @include btn-variation-3d($primary-color);
        &:active, {
            transform: translateY(2px);
        }
        &.btn--success {
            @include btn-variation-3d($success-color);
        }
        &.btn--warning {
            @include btn-variation-3d($warning-color);
        }
        &.btn--error {
            @include btn-variation-3d($error-color);
        }
    }
    &--ghost {
        @include btn-variation-ghost($primary-color);
        background-color: transparent;
        line-height: $base-line-height * 1.5 - 4px;
        border-width: 2px;
        border-style: solid;
        &.btn--success {
            @include btn-variation-ghost($success-color);
        }
        &.btn--warning {
            @include btn-variation-ghost($warning-color);
        }
        &.btn--error {
            @include btn-variation-ghost($error-color);
        }
    }
}