/*------------------------------------*\
    INITIAL
\*------------------------------------*/


.initial:first-letter {
	float: left;
	padding-right: 4px;
	padding-top: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: $base-line-height * 2;
}