/*---------------------------------------*\
    INLINE LIST
\*---------------------------------------*/

.inline-list {
	list-style: none;
	padding: 0;
	li {
		display: inline-block;
		padding-right: $base-line-height/2;
	}
	&--sm {
		li {
			display: block;
			@include breakpoint($sm) {
				display: inline-block;
			}
		}
	}
	&--md {
		li {
			display: block;
			@include breakpoint($md) {
				display: inline-block;
			}
		}
	}
	&--lg {
		li {
			display: block;
			@include breakpoint($lg) {
				display: inline-block;
			}
		}
	}
	&--right {
		text-align: right;
		li {
			padding: 0 0 0 $base-line-height/2;
		}
	}
	&--right {
		text-align: right;
		li {
			padding: 0 0 0 $base-line-height/2;
		}
	}
	&--center {
		text-align: center;
		li {
			padding: 0 $base-line-height/4 0;
		}
	}
}