/*------------------------------------*\
    BASICS
\*------------------------------------*/

*,
*:before,
*:after {
	box-sizing: border-box
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}