/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/

body {
	color: $font-color;
	font-family: 'Roboto', sans-serif;
}

h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
	font-family: 'Roboto Slab', serif;
}

a {
	color: $primary-color;
	text-decoration: none;
	&:hover,
	&:focus {
		color: darken($primary-color, 10%);
		text-decoration: underline;

	}
	&:active {
		color: darken($primary-color, 20%);
	}
	&.underline {
		display: inline-block;
		position: relative;
		&:after {
			transform: translateY(4px);
			transition: all .3s;
			background-color: $primary-color;
			content: "";
			display: block;
			height: 2px;
			opacity: 0;
			position: absolute;
			width: 100%;
		}
		&:hover,
		&:focus {
			text-decoration: none;
			&:after {
				transform: translateY(-1px);
				opacity: 1;
			}

		}
	}
}

// no need for additional .icon class (our .fa equivalent)
[class*="#{$fa-css-prefix}-"] {
	@extend .#{$fa-css-prefix} !optional;
}

p {
	hyphens: auto;
}
